# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
media/
staticfiles/
logs/

# Virtual environment
venv/
env/
.env

# IDE
.idea/
.vscode/
*.swp

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/